*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-image: url('gallery/milad-fakurian-7wUorDiCMSU-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

::-webkit-scrollbar{
    width: 0px;
}

.container{
    width: 100%;
    height: 100%;
    
}

.header{
    position: absolute;
    top: -5%;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    width: 10%;
    position: relative;
    left: -2.5%;
    
}
.navbar a{
    text-decoration: none;
    color: black;
    position: relative;
    margin-left: 60px;
    font-weight: 500;

}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 1.5px;
    background: darkblue;
    transition: 0.2s;
}
.navbar a:hover::before{
    width: 100%;
}

@media only screen and (max-width: 480px) {
    /* Your styles for mobile devices go here */
    .header .home{
         left: -125%;
         top: 35px;
         font-size: 15px;
    }
    .header .memberships {
        top: -1px;
        font-size: 15px;
        left: -35%;
    }
    .navbar a.memberships:hover::before{
        width: 255%;
        left: -155%;
    }
    .header .gallery{
        top: -18px;
        font-size: 15px;
        left: 5.5%;
    }
    .header .login{
        top: -35.75px;
        font-size: 15px;
        left: 57%;
    }
    .logo{
        width: 120px;
        left: -40%;
    }
}

.sekcija{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: start;
    position: relative;
}
.sekcija1{
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: start;
    position: relative;
}
.naslov{
    position: absolute;
    top: 25%;
    left: 7.5%;
    font-size: 75px;
    display: block;
    color: #0651a6;
}
.statiska{
    position: absolute;
    top: 50%;
    left: 7.5%;
    color: #000;
    display: block;
    margin-top: 20px;

}
.getstarted{
   position: absolute;
   left: 7.5%;
   top: 70%;
   width: 135px;
   height: 40px;
   border: 2px solid #0651a6;
   border-radius: 50px;
   color: #000;
   cursor: pointer;
   font-weight: bold;
   background-color: rgba(255, 255, 255, 0);
   overflow: hidden;
   transition: transform 0.3s, color 0.3s;

}
.getstarted::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0651a6;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}
.getstarted:hover {
    color: #D9D9D9;
    transform: scale(1.1);
    border-width: 0; /* Remove border on hover */
}

.getstarted:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
.slika1{
    position: absolute;
    width: 49%;
    height: 85%;
    top: 19%;
    left: 51%;
    object-fit: contain;
}




.skupkutiji {
    position: absolute;
    display: flex;
    top: 22.8%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.kutija1,
.kutija2,
.kutija3 {
    width: 330px;
    height: 310px;
    margin-right: 40px;
    background-color:lightgray;
    border-radius: 10px 10px 50px 50px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.progression{
    position: absolute;
    left: 6.3%;
    top: 43.8%;
    color: black;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.tekst1{
    position: absolute;
    left: 2.3%;
    top: 58.8%;
    color: black;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.sat{
    width: 6%;
    position: absolute;
    left: 12%;
    top: 18%;
    color: black;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.kutija1:hover {
    background-color: #0651a6;
}

.kutija1:hover .progression {
    color: #D9D9D9;
}

.kutija1:hover .tekst1 {
    color: #D9D9D9;
}
.kutija1:hover .sat {
   content:url('gallery/clock\ \(4\).png');
}

.workout{
    position: absolute;
    left: 42.3%;
    top: 43.8%;
    color: black;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.tekst2{
    position: absolute;
    left: 35%;
    top: 58.8%;
    color: black;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.utezi{
    width: 6%;
    position: absolute;
    left: 45.5%;
    top: 18%;
    color: black;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.kutija2:hover {
    background-color: #0651a6;
}

.kutija2:hover .workout {
    color: #D9D9D9;
}

.kutija2:hover .tekst2 {
    color: #D9D9D9;
}
.kutija2:hover .utezi{
    content:url('gallery/weightlifting\ \(2\).png');
}
.nutrition{
    position: absolute;
    left: 74.65%;
    top: 43.8%;
    color: black;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.tekst3{
    position: absolute;
    left: 69%;
    top: 58.8%;
    color: black;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.plan{
    width: 6%;
    position: absolute;
    left: 79.3%;
    top: 18%;
    color: black;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.kutija3:hover {
    background-color: #0651a6;
}

.kutija3:hover .nutrition {
    color: #D9D9D9;
}

.kutija3:hover .tekst3 {
    color: #D9D9D9;
}
.kutija3:hover .plan{
    content:url('gallery/plan\ \(1\).png');
}

.banner{
    position: absolute;
    top: 66.7%;
    left: 11%;
    width: 150px;
    height: 45px;
    border-radius: 50px;
    transition: 0.2s;
    background-image: linear-gradient(to right, #0651a6 , #126dd4  ,#147cf2);
}

.whoweare{
    position: absolute;
    top: 68.6%;
    left: 12.5%;
    transition: 0.2s;
    color: #D9D9D9;
    z-index: 1;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #D9D9D9;


} 

.naslov2{
    position: absolute;
    top: 76%;
    left: 10.8%;
    font-size: 38px;
}
.tekst4{
    position: absolute;
    top: 92%;
    left: 10.8%;
   opacity: 0.7;
}
.skup2{
    position: absolute;
    display: flex;
    height: 60px;
    left: 13%;
    top: 110%;
    
}
.skup2 img{
    margin-right: 181px;
   
}
.skup2 img.bench1{
    margin-left: -14.5px; /* Prilagodite vrijednost prema vašim željama */
}
.skup3{
    position: absolute;
    display: flex;
    height: 60px;
    left: 10.8%;
    top: 122%;
    text-align: center;
    font-weight: bold;
}
.skup3 p{
    margin-right: 128px;
}
.zenatrci{
    position: absolute;
    left: 58%;
    top: 60%;
    object-fit: cover;
}

.linija2 {
    width: 1.5px;
    height: 200px;
    background-color: black;
    margin-right: 240px; /* Ako želite istu udaljenost za obje linije */
    opacity: 0.2;
}
.linija1{
    width: 1.5px;
    height: 200px;
    background-color: black;
    margin-right: 240px; /* Ako želite istu udaljenost za obje linije */
    opacity: 0.2;
}

.skuplinija {
    position: absolute;
    display: flex;
    left: 24%;
    top: 103%;
}

.skup4 {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Ovo postavlja tekst vertikalno */
    font-size: 16px;
    background-image: linear-gradient(to right, #0651a6 , #126dd4  ,#147cf2);
    border-radius: 50px;
    width: 150px;
    height: 45px;
    color: #D9D9D9;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #D9D9D9;
    text-align: center;
}
.team {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}
.expertteam{
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    text-align: center;
    opacity: 0.7;
}
.velikiskuptrenera {
    display: flex;
    justify-content: space-between;
    margin-left: 190px;
    margin-top: 500px;
}

.skuptrener1,
.skuptrener2,
.skuptrener3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trener1,
.trener2,
.trener3 {
    width: 250px; /* Prilagodite prema potrebi */
    height: 400px; /* Prilagodite prema potrebi */
    object-fit: cover;
    filter: grayscale(100%);
    transition: 0.3s;
    cursor: pointer;
    z-index: 1;
    margin-left: 10px; /* Prilagodite prema potrebi */
}

.trener1:hover,
.trener2:hover,
.trener3:hover {
    filter: grayscale(0%);
}

.kvadrat {
    width: 320px;
    height: 150px;
    background-color: #D9D9D9;
    border-radius: 10px 10px 50px 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 2;
}

.kvadrat p {
    position: relative;
    top: 22%;
    margin-top: 5px;
}

.ime1,
.ime2,
.ime3 {
    font-size: 22px;
    font-weight: bold;
}

.specijalnost,
.specijalnost1,
.specijalnost2 {
    font-size: 13px;
    opacity: 0.6;
}

.kvadrat i {
    font-size: 20px;
    margin-top: 50px;
    margin-right: 1px;
    cursor: pointer;
}

.skuptrener2 {
    margin-left: 25px; /* Prilagodite prema potrebi */
    position: relative;
    margin-top: -60px;
}

.trener2 {
    width: 300px; /* Prilagodite prema potrebi */
    height: 460px; /* Prilagodite prema potrebi */
    margin-left: 0; /* Resetiraj margin-left */
    position: relative;
    left: 7%;
}
.skuptrener3{
    margin-left: 25px;
}
.skup5{
    position: absolute;
    top: 75%;
    left: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Ovo postavlja tekst vertikalno */
    font-size: 16px;
    background-image: linear-gradient(to right, #0651a6 , #126dd4  ,#147cf2);
    border-radius: 50px;
    width: 160px;
    height: 45px;
    color: #D9D9D9;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #D9D9D9;
    text-align: center;
}
.shapeofbody{
    position: absolute;
    top: 81%;
    left: 54.5%;
    font-size: 38px;
}

.atflex{
    position: absolute;
    top: 98%;
    left: 54.8%;
    opacity: 0.7;
    font-size: 17px;
}
.velikikrug1{
    position: absolute;
    top: 15%;
    left: 54%;
    cursor: pointer;
}
.krug1{
    background-color:lightgray;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 70px;
    height: 70px;
    margin-right: 50px;
}
.bodybuilder{
    width: 6%;
    position: absolute;
    left: 8.5%;
    top: 14.5%;
    color: black;
    width: 50px;
}
.tekst5{
    position: absolute;
    left: 60%;
    top: 17.5%;
    font-weight: bold;
    font-size: 18px;
}
.velikikrug1:hover .krug1{
    background-color: #0651a6;
}
.velikikrug1:hover .bodybuilder{
    content: url(gallery/bodybuilding\ \(1\).png);
}
.velikikrug2{
    position: absolute;
    top: 15%;
    left: 74%;
    cursor: pointer;
}
.krug2{
    background-color:lightgray;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 70px;
    height: 70px;
}
.gym-station{
    width: 6%;
    position: absolute;
    left: 13.5%;
    top: 13.5%;
    color: black;
    width: 50px; 
}
.velikikrug2:hover .krug2{
    background-color: #0651a6;
}
.velikikrug2:hover .gym-station{
    content: url(gallery/gym-station\ \(1\).png);
}
.tekst6{
    position: absolute;
    left: 80%;
    top: 17.5%;
    font-weight: bold;
    font-size: 18px;
}
.velikikrug3{
    position: absolute;
    top: 32.5%;
    left: 54%;
    cursor: pointer;
}
.krug3{
    background-color:lightgray;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 70px;
    height: 70px;
    margin-right: 50px;
}
.gym-bag{
    width: 6%;
    position: absolute;
    left: 8.5%;
    top: 22.5%;
    color: black;
    width: 50px; 
}
.tekst7{
    position: absolute;
    left: 60%;
    top: 34.75%;
    font-weight: bold;
    font-size: 18px;
}
.velikikrug3:hover .krug3{
    background-color: #0651a6;
}
.velikikrug3:hover .gym-bag{
    content: url(gallery/gym-bag\ \(1\).png);
}
.velikikrug4{
    position: absolute;
    top: 32.5%;
    left: 74%;
    cursor: pointer;
}
.krug4{
    background-color:lightgray;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 70px;
    height: 70px;
    margin-right: 50px;
}
.water-bottle{
    width: 6%;
    position: absolute;
    left: 10.5%;
    top: 13.5%;
    color: black;
    width: 50px; 
}
.velikikrug4:hover .krug4{
    background-color: #0651a6;
}
.velikikrug4:hover .water-bottle{
    content: url(gallery/water-bottle\ \(1\).png);
}
.tekst8{
    position: absolute;
    left: 80%;
    top: 34.75%;
    font-weight: bold;
    font-size: 18px;
}
.deadlift{
    position: absolute;
    left: 10%;
    top:-45%;
    object-fit: cover;
    width: 30%;
}
.skup6{
    position: absolute;
    top: -82%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Ovo postavlja tekst vertikalno */
    font-size: 16px;
    background-image: linear-gradient(to right, #0651a6 , #126dd4  ,#147cf2);
    border-radius: 50px;
    width: 160px;
    height: 45px;
    color: #D9D9D9;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #D9D9D9;
    text-align: center;
}


.glavnakutija1{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(#0651a6 , #126dd4  ,#147cf2);
    border: 6px solid rgb(154, 151, 151) hidden;
    width: 1100px;
    height: 380px;
    z-index: -2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.kutija4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D9D9D9;
    width: 1000px;
    height: 300px;
    z-index: -1;
}
.kutija4 p{
    z-index: 1;
    color: #000;
   margin-left: 42%;
   position: relative;
   top: 30%;
   
    
}
.ime4{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.review{
    font-style: oblique;
    font-size: 15px;
    margin-bottom: 20px;
}
.zanimanje{
    font-size: 15px;
}

.treadmill{
    position: absolute;
    left: 62.5%;
    top: 50%;
    width: 15%;
    opacity: 0.7;
    
}



/* login */
.kocka3{
    width: 500px;
    height: 420px;
    background-color: #D9D9D9;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    box-shadow: #0075FF 0px 0px 30px -5px; 
    

}
.welcomeback{
    text-align: center;
    position: relative;
    top: 145px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    
}
.emailorusername{
    font-size: small;
    text-align: center;
    position: relative;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #000;
    top: 180px;
    left: -10.5%;
}
.eouinput input{
    height: 35px;
    width: 400px;
    border-radius: 50px;
    position: relative;
    top: 170px;
    left: 35%;
    outline: none;
    border: none;
    padding-left: 10px;
    opacity: 0.8;
}
.sifra{
    font-size: small;
    text-align: center;
    position: relative;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #000;
    top: 235px;
    left: -12.5%;

}

.passwordinput input{
    height: 35px;
    width: 400px;
    border-radius: 50px;
    position: relative;
    top: 205px;
    left: 35%;
    outline: none;
    border: none;
    padding-left: 10px;
    opacity: 0.8;
}

.forgotpassword{
    text-align: center;
    position: relative;
    top: 218px;
    font-size: 70%;

}
.forgotpassword a{
    text-decoration: none;
    color: black;
    opacity: 0.6;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #000;
}
.line1{
width: 170px;
height: 0.5px;
background-color: #0075FF;
position: relative;
top: 200px;
left: 41.5%;
transform: translate(-50%, -50%);
opacity: 0.6;
}

.or{
    text-align: center;
    position: relative;
    top: 190px;
    font-size: smaller;
    opacity: 0.5;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #000;
}
.line2{
width: 170px;
height: 0.5px;
background-color: #0075FF;
position: relative;
top: 183px;
left: 58.5%;
transform: translate(-50%, -50%);
opacity: 0.6;
}
.signupdonthave{
    text-align: center;
    position: relative;
    top: 245px;
    font-size: 80%;
}
.signupdonthave a{
    text-decoration: none;
    color: #0075FF;
}
.prijava{
    position: relative;
    left: 50%;
    transform: translate(-50%, 330px);
    width: 400px;
    height: 35px;
    border-radius: 50px;
    border-style: none;
    background-color: #0075FF;
    color: #D9D9D9;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #D9D9D9;
    

}
.prijava:hover{
    box-shadow: #0075FF 0px 0px 30px -3px; 
}

.passwordinput i{
    position: absolute;
    top: 44.5%;
    left: 62%;
    color: #0075FF;
    cursor: pointer;
    
}
.eouinput i{
    position: absolute;
    top: 34.4%;
    left: 62%;
    color: #0075FF;
}
.passwordinput i.bx-lock-open-alt {
    /* Add your styles for bx-lock-open-alt here */
    color: #0075FF; /* Change color as needed */

/*prekid log in */

}
.skup_strelica{
    position: absolute;
    display: flex;
    left: 85%;
    top: 75%;    
}
.skup_strelica i.bx-left-arrow-alt{
   font-size: 25px;
   color: #D9D9D9;
   background-color: #0075FF;
   padding: 10px;
   border-style: none;
   margin-right: 10px;
   border:0.5px solid #0651a6;
   cursor: pointer;
}
.skup_strelica i.bx-right-arrow-alt{
   font-size: 25px;
   color: #D9D9D9;
   background-color: #0075FF;
   padding: 10px;
   border-style: none;
   border:0.1px solid #0651a6;
   cursor: pointer;
   
}
.zenareview{
    position: absolute;
    top: -36%;
    left:5%;
    
}
/*memberships*/
.skupmemberships{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    gap: 55px;
}
.membership1{
    background-color: #D9D9D9;
    height: 400px;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px 10px 50px 50px;
}
.membership1 p{
    text-align: center;
}
.monthly{
    font-size: 25px;
    margin-top: 15px;
    font-weight: bold;
}
.students{
    opacity: 0.7;
    margin-top: 2%;
}
.price{
    font-size: 50px;
    margin-top: 15px;
}
.mogucnosti p{
    text-align: left;
    margin-left: 26%;
    margin-top: 5px;
    position: relative;
    top: 20px;
}
.mogucnosti i.bx-badge-check{
    font-size: 20px;
    color: #0651a6;
    position: relative;
    top: 2.5px;
}
.join {
    position: absolute;
    left: 8%;
    top: 82%;
    width: 235px;
    height: 40px;
    border: 2px solid #0651a6;
    border-radius: 50px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    transition: transform 0.3s, color 0.3s, box-shadow 0.3s;
}

.join::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0651a6;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.join:hover {
    color: #D9D9D9;
    transform: scale(1.1);
    border-width: 0; 
    box-shadow: 0 0 10px rgba(6, 81, 166, 0.3); 
}

.join:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
.membership2{
    background-color: #D9D9D9;
    height: 400px;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px 10px 50px 50px;
}
.membership2 p{
    text-align: center;
}
.mogucnosti p{
    text-align: left;
    margin-left: 26%;
    margin-top: 5px;
    position: relative;
    top: 20px;
}
.join2 {
    position: absolute;
    left: 61.2%;
    top: 82%;
    width: 235px;
    height: 40px;
    border: 2px solid #0651a6;
    border-radius: 50px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    transition: transform 0.3s, color 0.3s, box-shadow 0.3s;
}

.join2::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0651a6;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.join2:hover {
    color: #D9D9D9;
    transform: scale(1.1);
    border-width: 0; 
    box-shadow: 0 0 10px rgba(6, 81, 166, 0.3); 
}

.join2:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
